<!-- footer -->
<footer>
    <div class="footer container">

        <div class="footer__logo">
            <img src="~/img/logo.png" alt="footer logo" />
        </div>
        <div class="footer__lists">
            <div class="footer__list">
                <h6>Categories</h6>
                <ul>
                    <li>
                        <a href="#/">Exotic</a>
                    </li>
                    <li>
                        <a href="#/">Fruits</a>
                    </li>
                    <li>
                        <a href="#/">Strawberry</a>
                    </li>
                    <li>
                        <a href="#/">Vanilla</a>
                    </li>
                </ul>
            </div>
            <div class="footer__list">
                <h6 class="footer__list__title">About</h6>
                <ul>
                    <li>Geek's Bakery</li>
                    <li>Pham Chi Trung</li>
                    <li>pctrung1102@gmail.com</li>
                </ul>
            </div>
            <div class="footer__list">
                <h6>Social</h6>
                <div class="footer__list__social">
                    <a href="https://www.facebook.com/trungxi.it">
                        <img src="~/icons/facebook.svg" alt="facebook icon" />
                    </a>
                    <a href="https://github.com/TrungXiIT">
                        <img src="~/icons/github.svg" alt="github icon" />
                    </a>
                    <a href="https://www.linkedin.com/in/trung-ph%E1%BA%A1m-101b871a2/">
                        <img src="~/icons/linkedin.svg" alt="linkedin icon" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer__copyright">
        <p>Copyright © 2021 Pham Chi Trung</p>
    </div>
</footer>
<!-- end footer -->